.container {
	gap: 0.5rem;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 20rem;
	min-height: 3rem;
	padding: 0.5rem;
	border: 1.5px solid hsl(222, 65%, 85%);
	border-radius: 0.25rem;
	outline: none;
	box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.1),
		3px 3px 6px rgba(0, 0, 0, 0.05);
}

.container:focus {
	border-color: hsl(202, 100%, 46%);
}

.value {
	gap: 0.5rem;
	font-size: 0.9rem;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	color: hsl(0, 0%, 20%);
}

.clear-btn {
	font-size: 1.25rem;
	line-height: 0;
	padding: 0;
	padding-bottom: 0.175rem;
	cursor: pointer;
	transition: 300ms;
	color: hsl(222, 65%, 85%);
	border: none;
	outline: none;
	background: none;
}

.clear-btn:focus,
.clear-btn:hover {
	color: hsl(0, 100%, 50%);
}

.divider {
	align-self: stretch;
	width: 0.5px;
	background-color: hsl(222, 65%, 85%);
}

.caret {
	translate: 0 25%;
	border: 0.25em solid transparent;
	border-top-color: hsl(222, 65%, 85%);
}

.options {
	font-size: 0.8rem;
	position: absolute;
	z-index: 100;
	top: calc(100% + 0.25em);
	left: 0;
	display: none;
	overflow-y: auto;
	width: 100%;
	max-height: 15em;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0.5px solid hsla(0, 0%, 100%, 40%);
	border-radius: 0.25em;
	background-color: hsla(0, 0%, 100%, 40%);
}

@media screen and (max-width: 768px) {
	.options {
		border-color: hsl(222, 65%, 85%);
		background-color: hsl(222, 65%, 85%);
	}
}

.options.show {
	display: block;
}

.option {
	padding: 0.25em 0.5em;
	cursor: pointer;
}

.option.selected {
	color: #fffde4;
	background-color: hsla(202, 100%, 46%, 40%);
}

.option.highlighted {
	color: #fffde4;
	background-color: hsla(202, 100%, 46%, 60%);
}

.option-badge {
	gap: 0.25em;
	display: flex;
	align-items: center;
	padding: 0.15em 0.25em;
	cursor: pointer;
	transition: 300ms;
	color: hsl(0, 0%, 20%);
	border: 0.05em solid hsl(222, 65%, 85%);
	border-radius: 0.25em;
	outline: none;
	background: none;
}

.option-badge:focus,
.option-badge:hover {
	border-color: hsl(0, 100%, 50%);
	background-color: hsl(0, 100%, 90%);
}

.option-badge:focus > .remove-btn,
.option-badge:hover > .remove-btn {
	color: hsl(0, 100%, 50%);
}

.option-badge > .remove-btn {
	font-size: 1rem;
	line-height: 0;
	padding-bottom: 0.135rem;
	transition: 300ms;
	color: hsl(222, 65%, 85%);
}
